* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
}
input:active,
input:focus,
button:active,
button:focus {
  outline: none;
}
button,
input,
a,
textarea{
  cursor: pointer;
}
